
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<a href="/#/thunder">Enter ThunderDome</a>
<ul>
    <li>Select Batters For A Year &mdash; Simple Select</li>
    <li>Select Batters For A Year &mdash; Simple Select with dynamic bind</li>
    <li>Select Two Players In Separate Queries &mdash; Handling multiple statements</li>
    <li>Select Multiple Players &mdash; List support for "IN" clauses</li>

    <li>Select a Player and Get Salary History &mdash; Handling Multiple Resultsets</li>

    <li>Insert a Player &mdash; Simple Insert</li>
    <li>Insert Multiple Players &mdash; Batch Insert</li>
    <li>Insert Player and Give Him A Raise &mdash; System.Transaction</li>


</ul>*@